.App {
  text-align: center;
  margin: 0rem;
  padding: 0rem;
}

.footer {
  margin-top: 2.2rem;
  padding-top: 3rem;
  background-color: orange;
  height: 5rem;
  width: 100%;
}

.buttons {
  height: 2rem;
  width: 4rem;
  margin: 0.5rem;
}
